body {
  /* background: #f1fbff8a; */
  /* background: #f1f1f1f1; */
     background: #000;
}
.section-padding {
  padding: 100px 100px 50px;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
}
.carousel-caption {
  bottom: 220px;
  z-index: 2;
}
.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.7;
  /* line-height: 1.9; */
}
.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.navbar-nav a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
}
.navbar-nav a:hover{
  border-bottom: 2px solid #fff;
  transition: .5s ease;
} 
.navbar-light .navbar-brand {
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #000;
}
.navbar-light .navbar-nav .nav-link {
  color: #000;
}
.w-100 {
  height: 100vh;
}
/* My Css */
.about-section-padding {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section-padding img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.about-section-padding .about-text p {
  line-height: 1.6;
  font-size: 18px;
  text-align: center;
  text-align-last: center;
}

/* SERVICES CSS */
.service .card-body i {
  font-size: 50px;
}
.img-area img{
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
/* PORTFOLIO CSS */
.portfolio .card{
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}

/* TEAM CSS */
.team .card-body{
  font-size: 17px;
}
.team .card{
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.card:hover{
  cursor: pointer;
}
/*                  RESPONSIVE CSS                           */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-caption {
    bottom: 370px;
  }
  .carousel-caption p {
    width: 100%;
  }
  .card{
    margin-bottom: 30px;
  }
  .card{
    margin-bottom: 30px;
    margin-left: 0px;
  }
  .img-area{
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }
  .carousel-caption {
    bottom: 125px;
  }
  .carousel-caption h5 {
    padding: 10px 15px;
    font-size: 17px;
  }
  .carousel-caption a {
    padding: 10px 15px;
  }
  .carousel-caption p {
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
  }
  .about-text {
    margin: 50px 10px 0;
  }
  .card{
    margin-bottom: 30px;
    margin-left: 0px;
  }
  .section-padding{
    padding: 50px 50px 30px 50px;
  }
}
